<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz617djnlc_Z5gGJ2PT_e8e83aevbxezM</string>
	<key>GCM_SENDER_ID</key>
	<string>877058521025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telepatia</string>
	<key>PROJECT_ID</key>
	<string>telepatia-interview</string>
	<key>STORAGE_BUCKET</key>
	<string>telepatia-interview.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877058521025:ios:f71a6d496ea63a40ae6140</string>
</dict>
</plist>